@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.tabsClass {
  margin: 1vw 2vw;
}

.cardText {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDiv {
  transition: transform 0.2s ease-in-out;
}

.cardDiv:hover{
  transform: scale(0.9);
  background-color: thistle;
}